@import '/src/Styles/popup-dialog.scss';

.main-container {
    height: 100%;
}

.container-1 {
    background: #fdfefe;
    height: 40% !important;
    padding: 20px;
    box-sizing:border-box;
}

.container-2 {
    background: #f3f7f8;
    height: 50% !important;
    overflow: auto;
    padding: 20px;
}

.container-3 {
    background: #4980b3;
    height: 10%;
    width: 27%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
}
.footer{
    text-align: center;
    color: #e0e9f2;
}
.metal-jewelry{
    display: flex;
    width: 100%;
    box-sizing: border-box; 
}
.metal{
    flex: 1;
    box-sizing: border-box;
    padding: 0 10px 0 0;
}
.metal-select{
    width: 100%;
}
.jewelry{
    flex: 1;
    box-sizing: border-box;
    padding: 0 0 0 10px;
}
.jewelry-select{
    width: 100%;
}
.selected-unselected{
    display: flex;
    width: 105%;
    box-sizing: border-box;
}
.selected{
    flex: 1;
    box-sizing: border-box;
}
.unselected{
    flex: 1;
    box-sizing: border-box;
}

.title {
    color: #242526;
  line-height: 0.1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  font-size: 25px;
  font-weight: 400;
}

.sub-heading {
    color: #242526;
    line-height: 1.2;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
    font-size: 30px;
    font-weight: 700;
  }

.link-color {
    color: #4980b3;
}

.sub-container {
    background: #c6cbcd;
}

.rs-pop-control-width100 {
    width: 100%;
}

.dialog-close {
    color: #4980b3;
    padding-top: 0%;
    margin-left: 200%;
}

form {
    height: 100%;
}

.pointer-none{
    opacity: 0.4;
    pointer-events: none;
}

.checkboxLabel {
    font-size: 15px !important;
}