@import '../../../../../Styles/common';

.hide {
  display: none;
}

.app {
  color: color('dark-blue-3');
  height: 954px;
}

.video {
  width: 100%;
  height: 100%;
  background-color: color('black-6');
}

.canvas {
  display: none;
}

.main-content {
  width: 49.83%;
  padding-top: 26px;
  padding-left: 31px;
  height: 100%;
}

.heading {
  padding: 0px 30px;
}

.sub-heading {
	color: color('dark-grey');
	font-size: 20px;
	font-weight: 300;
	line-height: 27px;
  padding: 15px 0px;
}

.content-wrapper {
  width: 100%;
  height: 100%;
  float: left;
}

.breadcrumb {
  margin-top: 20px;
  margin-left: 32px;
}

.job-details {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 48.5%;
  margin-top: 239px;
  padding-bottom: 100px;
  vertical-align: top;
  border-left: 1px solid color('light-grey-2');
}

.retake {
  background-color: color('white');
  box-sizing: border-box;
  height: 40.5px;
  width: 198.5px;
  border: 0.5px solid color('primary-blue');
  border-radius: 4px;
  color: color('primary-blue');
  font-size: 16px;
}

.photo-border {
  text-align: center;
  align-items: center;
  display: inline-block;
  width: 480px;
  height: 33.86%;
  border: 1px solid color('light-grey-4');
  background-color: color('white');
}

.photo-wrapper {
  margin-top: 20px;
}

.photo-condition {
  margin-bottom: 10px;
  margin-top: 10px;
}

.taken-photo-border {
  width: 265px;
}

.retake {
  background-color: color('white');
  box-sizing: border-box;
  height: 40.5px;
  width: 198.5px;
  border: 0.5px solid color('blue-primary');
  border-radius: 4px;
  color: color('blue-primary');
  font-size: 16px;
  font-weight: 600;
}

.take-photo__right {
  display: inline-block;
  text-align: center;
  height: 100%;
  vertical-align: top;
  margin-left: 40px;
  font-size: 16px;
}

.take-another {
  margin-left: 40px;
  margin-top: 33px;
  background-color: color('white');
  box-sizing: border-box;
  height: 40.5px;
  width: 198.5px;
  border: 0.5px solid color('blue-primary');
  border-radius: 4px;
  color: color('blue-primary');
  font-size: 16px;
}

.comment {
  padding-top: 25px;
  padding-bottom: 6px;
  height: 66.14%;
}

.comment-box {
  width: 605px;
  height: 80px;
  border-radius: 4px;
  background-color: color('white');
  box-shadow: inset 0 1px 3px 0 color('black5');
  border: none;
  padding: 5px;
}

.job-photo {
  width: 265px;
  height: 175px;
}
